.box_cabecalho{
    display: flex;
    height: 1rem;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: aquamarine;
}
.categoria{
    display: flex;
    height: 1.5rem;
    width: 75%;
    background-color: yellowgreen;
}
.box_produtos{
    display: flex;
    align-items: center;
}

.card {
    height: 16.5rem;
    width: 15rem;
    margin: 1em;
    background-color: blue;
}
.logo{
    width: 120px;
    height: 70px;
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
    background-color: black;
}