* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.box_cabecalho{
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    padding: 1rem;
    background-color: aquamarine;
}

.logo{
    width: 120px;
    height: 70px;
    background-repeat: no-repeat;
    /* background-position-y: -40px; */
    overflow: hidden;
    background-color: black;
}

nav {
    width: 70%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: .5s;
    width: 100px;
}

nav a:hover {
    color: white;
    background: #003423;
}

.categoria{
    display: flex;
    height: 1.5rem;
    width: 75%;
    background-color: yellowgreen;
}
.box_produtos{
    display: flex;
    align-items: center;
}

.card {
    height: 16.5rem;
    width: 15rem;
    margin: 1em;
    background-color: blue;
}





section {
    min-height: 100vh;
}