body {
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background-color: #677790;
    background-repeat: round;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


/*Cabeçalho estilado*/
.box_cabecalho {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    padding: 1rem, 0;
    background-color: #132c52;
    overflow: hidden;
}

.ajuste_de_cabecalho {
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logo {
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.perfect_cabecalho {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: .5s;
    width: 150px;
    color: white;
}

nav a:hover {
    color: rgb(122, 122, 122);
    border-bottom: solid 1px;
    border-color: rgb(122, 122, 122);
    /* background: white; */
}

nav a::after {
    content: '';
    width: 0;
}

nav a::after:hover {
    width: 100%;
    background: white;
}

.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Responsividade: quando a tela é menor que 768px */
@media (max-width: 800px) {

    /* Ocultar o menu horizontal em telas pequenas */
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 9%;
        left: 25%;
        background-color: #333;
        width: 100%;
        padding: 10px 0;

    }

    /* Exibir o ícone do menu */
    .menu-icon {
        display: block;
    }

    /* Exibir o menu quando o estado "active" for aplicado */
    nav.active {
        display: flex;
    
    }

    /* Ajuste nos links para melhorar a usabilidade */
    nav a {
        padding: 10px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
}

.categoria {
    display: flex;
    height: 1.5rem;
    width: 75%;
    background-color: yellowgreen;
}

/*Conteudo*/
.box_produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card {
    height: 24rem;
    width: 18rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 2rem;
    border-radius: 5%;
    transition: 0.5s;

}
.card img {
    max-width: 100%; /* A imagem ocupa no máximo 80% da largura da box */
    max-height: 100%; /* A imagem ocupa no máximo 80% da altura da box */
    object-fit: contain; /* A imagem mantém sua proporção sem ultrapassar os limites da box */
}

.card:hover {
    height: 24.5rem;
    width: 18.5rem;



}

.local_produtos {
    height: 80%;
    width: 100%;
    margin-bottom: 7%;
    background-color: white;
    display: flex;
    border-radius: 3%;
}

.local_preco {
    height: 15%;
    width: 100%;
    display: flex;
    border-radius: 5%;
    border-style: solid;
    border-color: white;

}

/* .local_preco:hover {
    color: #2b2a33;
    border-radius: 5%;
    background-color: black;
} */


.texto_index
{
    min-height: calc(77vh - 40px);
    padding-bottom: 40px;
    overflow: auto;
    text-decoration: none;
    color: white;
    padding-left: 15%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* rodapé */

.box_rodape {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    padding: 1rem, 0;
    background-color: #132c52;
    position: sticky;
    bottom: 0;
}

.perfect_rodapé
{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width :800px) {
    .box_produtos {
        flex-direction: column;
    }
    
    .box_rodape
    {
        background-color: transparent;
         
        

    }

}

section {
    min-height: 100vh;
}